@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{

    font-family: sans-serif;
    font-weight: bold;
    
}
#r-box{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    
    margin: auto auto;
    width: 40vw;
    height: 60vh;
    border: 1px solid rgb(141, 139, 139);
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;

}


#r-box:hover{
    transform: scale(1.1);
}

.user-img{
    
      background-size: 0%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    }
    .userName{

        color: rgb(38, 38, 39);
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 10px;
        
    }
    .designation{

        color: rgb(61, 163, 252); 
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 10px;
    }
    .para{
         
        color: rgb(143, 141, 141);
        text-align: center;
        margin-top: 10px;
         font-family: sans-serif ;
         font-size: 1rem;
    
         padding: 2%;
    }

    #btnSection{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .buttons{

        margin-top: 10px;
        font-family: sans-serif;
        font-size: 2rem; 
        background-color: transparent;
        border: none;
        color: rgb(61, 163, 252);
        
        cursor: pointer;
    }
    .buttons:hover{

      color: rgb(143, 141, 141);
    }
    .btnSurprise{

    margin-top: 2px;
    border: 1px solid rgb(61, 163, 252);
    color: rgb(61, 163, 252);
    background-color: #eef4fa;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;

    }

    